<div>
  <div id="rightbar_reward_id">
    <div class="Subhead mt-0 mb-0">
      <h2 class="bounty-section">Accept your reward!</h2>
    </div>
    <div class="bounty-section" id="last-bounty-section" >
      <%= accept_reward_button %>
    </div>
  </div>
</div>