<div>
  <div id="rightbar_reward_id">
    <div class="Subhead mt-0 mb-0">
      <h2 class="bounty-section">Add Reward</h2>
    </div>
    <div class="bounty-section">
      Issue:
      <a id="rightbar_notification_url" target="_blank">
        <div id="rightbar_notification_id">
        </div>
      </a>
    </div>
    <div class="bounty-section">
      Price:
      $ <input id="bounty-amount" type="number" min="0.01" step="0.01" max="100000" value="100.00"/>
    </div>
    <div class="bounty-section" id="last-bounty-section" >
      <%= create_reward_button %>
    </div>
    <div class="bounty-section">
      Request Reward:
      $ <input id="request-amount" type="number" min="0.01" step="0.01" max="100000" value="100.00"/>
    </div>
    <div class="bounty-section" id="last-bounty-section" >
      <%= request_reward_button %>
    </div>
  </div>
  <div id="rightbar_distribute_id">
    <div class="Subhead mt-0 mb-0">
      <h2 class="bounty-section">Distribute Reward</h2>
    </div>
    <div class="bounty-section">
      Distribute to User: <br/> <input id="rewardee" type="string" value="torvalds"/> <img width="20" id="distribute-avatar" class="img-rounded navbar-avatar" alt="" src="https://github.com/torvalds.png?size=40">
    </div>
    <div class="bounty-section" id="rewards-distribution-section" >
      <%#= distribute_reward_button %>
    </div>
  </div>
</div>