<div class="Subhead mt-0 mb-0">
  <h2 class="bounty-section">Add Reward</h2>
</div>
<div class="bounty-section">
  Issue:
  <a id="rightbar_notification_url">
    <div id="rightbar_notification_id">
    </div>
  </a>
</div>
<div class="bounty-section">
  Price:
  $ <input id="bounty-amount" type="number" min="0.01" step="0.01" max="100000" value="100.00"/>
</div>
<div class="bounty-section" id="last-bounty-section" >
  <%= create_reward_button %>
</div>
