<div class='flex-content'>
  <div class="flex-sidebar">
    <div id='sidebar' class="list-group list-group-flush flex-column pt-5">
      <a class='list-group-item list-group-item-action' href='#add_bounty'</a>
    </div>
  </div>

  <div class="flex-main">
    <div class="card">
      <div class='card-body'>
        <h1 id='add_bounty' class="text-left">Add BOunty</h1>
      </div>
    </div>
    <%= render 'layouts/footer'%>
  </div>
</div>