<div class="footer text-muted small mt-3">
  <p>
    © 2018 <a href='https://github.com/daljeetv' >Daljeet Virdi</a>,
    <%= link_to 'et al', "#{Octobox.config.source_repo}/graphs/contributors", target: '_blank', rel: "noopener" %>
  </p>
</div>
